.project-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.project-list {
  margin-top: 150px;
  position: relative;
  height: 500px;
  margin-bottom: 50px;
}

.project-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 500px;
  margin-left: 3%;
}
.project-image-2 img {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 500px;
  margin-right: 3%;
}
.project-info {
  position: absolute;
  top: 50px;
  left: 10%;
  width: 35%;
  background-color: #fff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.project-info-2 {
  position: absolute;
  top: 50px;
  right: 10%;
  width: 35%;
  background-color: #fff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.project-info h3,
.project-info-2 h3 {
  color: #16c3cf;
  margin-bottom: 10px;
}
.project-info h2,
.project-info-2 h2 {
  margin-bottom: 20px;
}
.project-info p,
.project-info-2 p {
  padding: 20px 0;
  font-size: 18px;
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
  line-height: 30px;
}

.project-info ul,
.project-info-2 ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.project-info li,
.project-info-2 li {
  margin-right: 15px;
  list-style: none;
  font-size: 20px;
  padding: 15px 20px;
  background-color: aliceblue;
  margin-left: 0;
  border-radius: 10px;
  color: #16c3cf;
}
.project-info i,
.project-info-2 i {
  margin-top: 20px;
  font-size: 30px;
  color: #16c3cf;
  font-weight: bold;
}

.info-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
