* {
  margin: 0;
  padding: 0;
}
/* 16px* 62.5 = 10px = 1rem*/
/* html{
    font-size:62.5%; 
    box-sizing:border-box;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #6c757d;
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
/* nav bar */

.top-header a {
  text-decoration: none;
}
.logo {
  padding: 20px;
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  color: #16c3cf;
  letter-spacing: 0.1em;
}
.top-nav {
  display: flex;
}
.nav-list {
  list-style: none;
  width: 80%;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list li {
  perspective: 500px;
}
/* Link 3D */
.nav-link {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #ccc;
  background-color: #000;
  letter-spacing: 1px;
  padding: 5px 10px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 0.4s;
}
.nav-link:hover {
  transform: rotateX(90deg);
}

.nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: -100%;
  background-color: black;
  padding: inherit;
  color: #16c3cf;
  transform: rotateX(-90deg);
  transform-origin: top;
}
.wrapper {
  height: 100vh;
}
.resume {
  width: 70%;
  background: #fff;
  margin: 25px auto;
  display: flex;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.left {
  background: rgb(207 244 247);
  width: 250px;
  padding: 0 20px;
  color: black;
}

.right {
  width: calc(100% - 250px);
}

.left .img_holder {
  text-align: center;
  padding: 20px 0;
}

.left .img_holder img {
  width: 200px;
  border-radius: 20px;
}

.pb {
  padding-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #000;
  position: relative;
  text-align: right;
  margin-bottom: 15px;
}

.title:before {
  content: "";
  position: absolute;
  top: 35px;
  right: 0;
  width: 60px;
  height: 3px;
  background: rgb(184, 49, 127);
}

.left .icon {
  font-size: 20px;
  color: #3843e9;
}

.left .text {
  color: #3843e9;
  text-transform: uppercase;
  font-size: 13px;
}

.contact .li_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.contact .li_wrap .icon {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.contact .li_wrap .text {
  width: calc(100% - 50px);
  word-break: break-word;
  color: #3843e9;
}

.skills ul,
.hobbies ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills .li_wrap {
  background: #fff;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text {
  margin-top: 5px;
}

.hobbies .li_wrap {
  border: 2px solid #fff;
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text {
  color: tomato;
}

.hobbies .li_wrap:hover {
  background: #fff;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text {
  color: #7c1bd1;
}

.header {
  background: rgb(207 244 247);
  padding: 15px 30px;
  color: #000;
  height: 240px;
}

.header .name {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(51, 12, 5);
}

.header .role {
  font-weight: 300;
  font-size: 20px;
}

.header .about {
  margin-top: 20px;
  line-height: 26px;
}

.right_inner {
  padding: 30px;
  color: #292b2f;
}

.right_inner .education {
  margin-top: 30px;
}

.right_inner .li_wrap {
  display: flex;
  margin-bottom: 15px;
}

.right_inner .li_wrap .date {
  width: 125px;
  color: #9153c9;
}

.right_inner .li_wrap .info {
  width: calc(100% - 125px);
  padding-left: 4%;
  position: relative;
}

.right_inner .li_wrap .info_title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #9153c9;
}

.right_inner .li_wrap .info_com {
  font-weight: 300;
  font-size: 14px;
  margin-top: 3px;
}

.right_inner .li_wrap .info_cont {
  margin-top: 15px;
}

.right_inner .li_wrap .info:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #9153c9;
  border-radius: 50%;
}

.right_inner .li_wrap .info:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 4px;
  width: 2px;
  height: 90%;
  background: #9153c9;
}
li {
  list-style: none;
}
