* {
  margin: 0;
  padding: 0;
}
/* 16px* 62.5 = 10px = 1rem*/
/* html{
    font-size:62.5%; 
    box-sizing:border-box;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #6c757d;
}

/* nav bar */
.header_background {
  position: relative;
  background: linear-gradient(45deg,rgba(230, 175, 112, 0.5), rgba(0, 0, 0, 0.7)),
    url("/images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  display: block;
  padding: 0;
  max-width: 100%;
}
.header_background .container {
  height: 800px;
  max-width: 100%;
}
.top-header a {
  text-decoration: none;
}
.logo {
  padding: 20px;
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  color: goldenrod;
  letter-spacing: 0.1em;
}
.top-nav {
  display: flex;
}
.nav-list {
  list-style: none;
  width: 80%;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list li {
  perspective: 500px;
}
/* Link 3D */
.nav-link {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #ccc;
  background-color: #000;
  letter-spacing: 1px;
  padding: 5px 10px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 0.4s;
}
.nav-link:hover {
  transform: rotateX(90deg);
}

.nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: -100%;
  background-color: black;
  padding: inherit;
  color: #16c3cf;
  transform: rotateX(-90deg);
  transform-origin: top;
}

/* .top-header{
    position:fixed;
  }
  .top-header.stickyadd{
    background:white;
    padding:17px 0;
    box-shadow: 0 1px 8px 3px rgba(0,0,0,.5);
    transition:all .5s ease-in-out;
  } */
.title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.title h3 {
  margin-bottom: 20px;
}
.title h1 {
  margin-bottom: 30px;
}
.title h5 {
  margin-bottom: 35px;
}
.banner-button {
  margin-top: 40px;
  width: 230px;
  padding: 10px;
  background: linear-gradient(to right, #440402, #c0120c);
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  border: none;
  border-radius: 100px;
  outline: none;
  /* 3D button  */
  transform: perspective(500px) rotateY(-15deg);
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  animation: buttonAnim 1s 2.5s backwards;
  transition: 0.3s;
  overflow: hidden;
}

.banner-button:hover {
  transform: perspective(500px) rotateY(15deg);
  text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to left, #440402, #c0120c);
}

/* animation for button */
@keyframes buttonAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner-button::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.5s;
}

.banner-button:hover::before {
  left: 100%;
}

/* home page - about me */
.about-me {
  display: flex;
  margin-top: 250px;
  max-width: 60%;
  margin: 0 auto;
}
.about-me .container {
  display: flex;
  margin-top: 150px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.about-me .col-1,
.about-me .col-2 {
  flex: 1 1 50%;
}
.about-me-content {
  display: flex;
  flex-direction: column;
}
.about-me-content h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 25px;
}
.social-media-icons {
  margin-top: 25px;
  font-size: 40px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.my-skills {
  margin: 0 auto;
  margin-top: 100px;
  width: 70%;
  margin-bottom: 150px;
}

.my-skills .row {
  display: flex;
}
.my-skills .col-1,
.my-skills .col-2 {
  flex: 1 1 50%;
}

.my-skills h2 {
  font-size: 45px;
  text-align: center;
}
/* progress bar */
.progress {
  position: relative;
  height: 15px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid tomato;
  border-radius: 10px;
  overflow: visible;
}
.progress .progress-so-far, .progress .progress-so-far-react{
  position: relative;
  height: 12px;
  width: 0%;
  border: 2px solid tomato;
  border-radius: 10px;
}
@keyframes PROGRESS {
  0% {
    width: 0%;
    background: rgb(243, 211, 211);
  }
  100% {
    width: calc(100 / 550 * 500%);
    background: rgb(243, 78, 36);
  }
}
.progress-so-far {
  animation: PROGRESS 5s 1 ease-out forwards;
}


@keyframes PROGRESS-REACT {
  0% {
    width: 0%;
    background: rgb(243, 211, 211);
  }
  100% {
    width: calc(100 / 550 * 300%);
    background: rgb(243, 78, 36);
  }
}
.react-progress .progress-so-far-react{
  animation: PROGRESS-REACT 5s 1 ease-out forwards;
}

.html-progress {
  display: flex;
  flex-direction: column;
}
/* end of progress bar */

/* section 4 my service */
.my-service {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 150px;
}
.my-service .container {
  width: 100%;
}
.my-service h2 {
  font-size: 45px;
  text-align: center;
}
.my-service-col {
  background: rgb(140, 191, 240);
}
.my-service-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 78px;
}
.my-service-col {
  flex: 1 1 20%;
  padding: 40px;
  margin: 40px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
}
.my-service-col:hover {
  box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2),
    0px 8px 16px rgba(38, 38, 38, 0.24);
}

.my-service-col h3 {
  margin-top: 33px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #02133c;
}
/* section 5 freelancer */

.freelancer {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  background-color: #ccc;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
}
.freelancer h2 {
  font-size: 45px;
  text-align: center;
}
.arrow {
  font-size: 50px;
  margin-bottom: 30px;
  animation: anim 3s infinite;
  margin-top: 30px;
}
.hire-me-btn,
.my-work-button,
.contact-form-btn {
  width: 200px;
  padding: 15px;
  font-family: "roboto condensed", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  color: black;
  border-radius: 50px;
  border: 2px solid green;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.hire-me-btn:hover,
.my-work-button:hover,
.contact-form-btn:hover {
  background-color: green;
  color: #fff;
}
.banner-btn:hover {
  transform: translateY(-1px);
}
/* animation for arrow */
@keyframes anim {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Section 6 my work */
.my-work {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 150px;
}
.my-work h2 {
  font-size: 45px;
  text-align: center;
}
.my-work .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-work-button-list {
  margin-top: 60px;
  margin-bottom: 60px;
}
.my-work-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 200px;
}
.my-work-col {
  flex: 1 1 25%;
}

/* section 7 feedback */
.testimony {
  margin: 0 auto;
  width: 70%;
  background-color: rgb(211, 186, 186);
}
.testimony .container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

/* tesimony section */
.item {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.owl-carousel img {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  margin-right: 1%;
}

/* section 8 home page contact */
.contact {
  margin: 0 auto;
  width: 70%;
}
.contact h2 {
  font-size: 45px;
  margin-bottom: 25px;
}
.contact .container {
  width: 100%;

  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
.contact-info {
  display: flex;
  width: 50%;
}
.contact-info i {
  font-size: 50px;
  color: blueviolet;
}
.contact-phone,
.contact-email,
.contact-address {
  flex: 1 1 33%;
  padding: 20px;
}

.contact-form {
  width: 45%;
  margin: 0 auto;
}
.contact-form form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  padding-left:1%;
  font-size:16px;
  transition: all .5s;
}
.contact-form input:foucs{
  border:1px solid green;
  z-index:2;
}
.contact-form input:nth-child(1) {
  margin-right: 10px;
}
.name-email {
  display: flex;
}
.name-email input {
  flex: 1 1 50%;
}

.contact-form form textarea {
  margin-bottom: 30px;
  height: 200px;
  border-radius: 5px;
  padding-left:1%;
  font-size:16px;
}
footer {
  background-color: black;
  color: white;
  
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* portfolio page */

.intr {
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
}
.intr .container {
  width: 100%;
  display: flex;
}
.image-container {
  flex: 1 1 50%;
}
.working-image {
  width: 250px;
  height: 300px;
  border-radius: 15px;
}

/* portfolio page work section */
.my-work-show {
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
}
.my-work-show .container {
  width: 100%;
  background-color: antiquewhite;
  height: 800px;
  display: flex;
  margin-bottom: 40px;
  padding: 25px;
}

.my-work-show .container .col-1,
.my-work-show .container .col-2 {
  flex: 1 1 50%;
}
.my-work-show .container .col-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.my-work-show .container .col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* card */
.card {
  width: 300px;
  height: 300px;
  perspective: 600px;
  transform-style: preserve-3d;
  border-radius: 10px;
}
.card img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.card .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: rotateX(-0deg);
  transition: 0.5s;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card:hover .front {
  transform: rotateX(-180deg);
}
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: rotateX(180deg);
  transition: 0.5s;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card:hover .back {
  transform: rotateX(0deg);
}

.details {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.details h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
}
.details span {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

/* contact me page */

#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(45%);
}
.contact-me-video-overlay {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
}
.container-contact-me {
  width: 70%;
  margin: 0 auto;
  padding-top: 150px;
}
.container-contact-me .row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container-contact-me .row .col-1,
.container-contact-me .row .col-2 {
  flex: 1 1 50%;
}
.container-contact-me .row .col-1 .image-container {
  display: flex;
  justify-content: center;
}
.container-contact-me img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.container-contact-me .row .col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-contact-me .row .col-2 h1 {
  font-size: 45px;
  color: #fff;
  font-weight: bold;
}
.container-contact-me .contact-form {
  width: 90%;
}
.footer-contact-me {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.contact-submit-btn{
  width:180px;
  font-size:16px;
  transition:all 0.5s;
  text-transform: uppercase;
  background-color: tomato;
  color:#fff;
  padding:10px;
}
.contact-submit-btn:hover{
background-color: green;
}